# Ignorar todos los archivos .txt
*.txt

# Ignorar el archivo .update.txt
.update.txt
!requirements.txt
!ApiKey.txt

# Ignorar todos los archivos .py
*.py

# Ignorar los archivos específicos .Config.py y .generate_password.py
!app.py
!Config.py
!generate_keys.py


