body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin: 0;
}

/* Estilo para el encabezado */
header {
    position: fixed; /* Fijo para que se mantenga en la esquina superior derecha */
    top: 10px;
    right: 10px;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.admin-access {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
}

.admin-access img {
    width: 30px; /* Tamaño reducido del ícono */
    height: 30px;
    margin-right: 8px;
}

.admin-access p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.user-list-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333333;
}

ul {
    list-style-type: none;
    padding: 0;
    color: #333333;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #5cb85c;
    text-decoration: none;
    font-size: 16px;
}

.back-link:hover {
    text-decoration: underline;
}


/* Estilos para los contenedores */
.login-container, .success-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Estilo para el enlace de regreso */
.login-container a {
    color: #5cb85c;
    text-decoration: none;
    font-size: 16px;
}

.login-container a:hover {
    text-decoration: underline;
}


form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    color: #333333;
}

label {
    text-align: left;
    margin-bottom: 5px;
    color: #555555;
}

input {
    margin-bottom: 15px;
    padding: 12px 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #5cb85c;
}

button {
    padding: 12px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #4cae4c;
}

p {
    margin-top: 15px;
    color: #777777;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.success {
    color: rgb(72, 221, 72);
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilos para la página de éxito */
.success-container {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.success-container h2 {
    margin-bottom: 20px;
    color: #4caf50;
}

.success-container p {
    margin-bottom: 20px;
    color: #555555;
}

.success-container a {
    color: #5cb85c;
    text-decoration: none;
    font-size: 16px;
}

.success-container a:hover {
    text-decoration: underline;
}


.password-container {
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
}

.toggle-password {
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
}

/* Estilos pagina del clima*/
.weather-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
}

.weather-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

.weather-container p {
    margin-bottom: 10px;
    color: #555555;
}

#weather-button {
    background-color: #3498db; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 12px 20px; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s ease-in-out; 
}

#weather-button:hover {
    background-color: #2980b9; 
}
