<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión exitoso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="success-container">
        <h2>Inicio de sesión exitoso!</h2>
        <p>Bienvenido! Te has logeado correctamente.</p>
        <a href="{{ url_for('home') }}">Ir al login</a>
    </div>
</body>
</html>


