<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="success-container">
        <h2>Bienvenido</h2>
        <p>Te has registrado exitosamente.</p>
        <button id="weather-button">Ver clima</button>
        <a href="{{ url_for('show_weather') }}" id="weather-link" style="display: none;"></a>
        <a href="{{ url_for('login') }}">Volver a inicio de sesión</a>
    </div>

    <script>
        document.getElementById('weather-button').addEventListener('click', function() {
            document.getElementById('weather-link').click();
        });
    </script>
</body>
</html>
